@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html,
body {
  height: 100vh;
  font-family: "Orbitron", "Times New Roman", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-fonts-smoothing: antialiased;
  background-image: url('../img/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

/* header */

header {
  background-image: linear-gradient(to right, #cc9933, black);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 980px;
  height: 80px;
  margin: auto;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 24px;
  transition: all 250ms linear 0s;
}

header nav ul li a:hover {
  background: rgba(255, 255, 255, 0.15);
}

header .container img {
  height: 50px;
}

#checkbox-menu {
  display: none;
}

/* video */

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: 5%;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* main */

main {
  margin-top: 130px;
  margin-bottom: 150px;
}

main .container-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 980px;
  margin: 100px auto 0 auto;
}

h2 {
  color: #cc9933;
  font-size: 45px;
  line-height: 50px;
  font-weight: bold;
}

h3 {
  color: white;
  font-size: 20px;
  line-height: 28px;
  font-weight: 100;
  margin: 10px;
}

form {
  margin-top: 20px;
}

form input {
  width: 380px;
  padding-left: 15px;
  font-size: 18px;
  height: 45px;
  margin-bottom: 13px;
  border-radius: 20px;
  border: 2px solid #946f26;
  font-family: "Orbitron", "Times New Roman", sans-serif;
}

form [type="submit"] {
  background-color: #946f26;
  color: white;
  transition: all 250ms linear 0s;
}

form [type="submit"]:hover {
  cursor: pointer;
  background-color: #cc9933;
  border: 2px solid #cc9933;
}

main .container-main img {
  width: 600px;
}

/* cards */

.cards {
  padding-top: 2%;
  width: 90%;
  max-width: 980px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.text--medium {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #cc9933;
}

.info .text--medium {
  font-size: 12px;
  color: white;
}

.card {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  transition: all 0.3s ease 0s;
}

.card:hover {
  transform: translateY(-7px);
}

.image {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
}

.image img {
  position: absolute;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  margin: 20px;
}

.title {
  margin-bottom: 0px;
}

.cards > a {
  text-decoration: none;
}

/* contact */

.container-contact {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
  margin-top: 5%;
  background-image: url('https://i.ibb.co/zZzHHmq/form.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.contact-box {
  max-width: 850px;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 8%;
}

.right {
  padding: 25px 40px;
}

.formulario h2 {
  position: relative;
  padding: 0 0 10px;
  margin: auto;
  margin-bottom: 10px;
}

.field {
  width: 90%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: white;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
  border-radius: 20px;
  border: 2px solid #cc9933;
  font-family: "Orbitron", "Times New Roman", sans-serif;
}

textarea {
  min-height: 150px;
  width: 100%;
}

.btn {
  width: 40%;
  padding: 0.5rem 1rem;
  background-color: #946f26;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 20px;
  font-family: "Orbitron", "Times New Roman", sans-serif;
}

.btn:hover {
  background-color: #cc9933;
}

.field:focus {
  border: 2px solid #cc9933;
}

/* footer */

footer {
  position: relative;
  background: rgb(148, 111, 38);
  background: radial-gradient(
    circle,
    rgba(148, 111, 38, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  height: auto;
  width: 100%;
  font-family: "Orbitron", "Times New Roman", sans-serif;
  padding-top: 40px;
  overflow-x: hidden;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content .footer-logo {
  width: 20%;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #121212;
}

.footer-bottom {
  background-color: #1a1a1a;
  opacity: 1;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
  color: white;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

.socials a img {
  width: 110%;
  height: auto;
  padding: 5px 15px;
  filter: invert(6%) sepia(1%) saturate(801%) hue-rotate(314deg)
    brightness(103%) contrast(91%);
  transition: ease-in 0.2s all;
}

.socials a img:hover {
  filter: invert(100%) sepia(1%) saturate(3%) hue-rotate(304deg)
    brightness(104%) contrast(102%);
}
